<p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>
<script src="/jquery/jquery.min.js"></script>
<script src="/@popperjs/popper.min.js" ></script>
<script src="/bootstrap/js/bootstrap.min.js" ></script>
