<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class = "container-xl mt-4" >
        <div class = row>
            <div class = "col-12">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h1>Data Sources</h1>
                        <hr>
                        <h2>CPUs:</h2>
                            <h4>Manufacturer Data:</h4>
                            <h5>AMD:</h5>
                                <a href = "https://www.amd.com/en/products/specifications/processors">https://www.amd.com/en/products/specifications/processors</a>
                            <p></p>
                            <h5>Intel:</h5>
                                <p>Desktop:
                                    <br>
                                    <a href = "https://www.intel.ca/content/www/ca/en/support/articles/000005505/processors.html">https://www.intel.ca/content/www/ca/en/support/articles/000005505/processors.html</a>
                                </p>
                                <p>Laptops:
                                    <br>
                                    <a href = "https://www.intel.ca/content/www/ca/en/support/articles/000028083/processors.html">https://www.intel.ca/content/www/ca/en/support/articles/000028083/processors.html</a>
                                </p>
                                <p>Wikipedia:</p>
                                https://en.wikipedia.org/wiki/List_of_Intel_Core_i3_processors
                                https://en.wikipedia.org/wiki/List_of_Intel_Core_i5_processors
                                https://en.wikipedia.org/wiki/List_of_Intel_Core_i7_processors
                                https://en.wikipedia.org/wiki/List_of_Intel_Core_i9_processors
                                
                        <hr>
                        <h2>GPUs:</h2>
                            <h4>Manufacturer Data</h4>

                            <h5>AMD:</h5>
                                <a href = "https://www.amd.com/en/products/specifications/graphics">https://www.amd.com/en/products/specifications/graphics</a>
                            <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>

