<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class = "container-xl mt-4" >
        <div class = row>
            <div class = "col-12">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h1>Data Sources</h1>
                        <hr>
                        <h2>CPUs:</h2>
                            <h5>AMD:</h5>
                                <p>Desktop and Mobile processors:
                                    <br>
                                    <a href = "https://www.amd.com/en/products/specifications/processors?op=%21%3D&platform=Server">https://www.amd.com/en/products/specifications/processors?op=%21%3D&platform=Server</a>
                                </p>
                                <p>Servers:
                                    <br>
                                    <a href="https://www.amd.com/en/products/specifications/processors/2316,14566,20376">https://www.amd.com/en/products/specifications/processors/2316,14566,20376</a>
                                </p>
                            <h5>Intel:</h5>
                        <br>

                        <h2>GPUs:</h2>
   

                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>

