body{
    background-color: rgb(107, 107, 107);
}

.navbar{
    background-color: black;
}

h1, h2, h5, p{
    color: whitesmoke;
}

footer a{
    color:rgb(40, 167, 69);
    text-decoration: underline;
}
footer a{
    color:rgb(40, 167, 69);
}

.card a{
    color:rgb(40, 167, 69);
    text-decoration: underline;
}
.card a{
    color:rgb(40, 167, 69);
}

.jumbotron {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
  
  }
.jumbotron:hover{ 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.card{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}
