body{
    background-color: rgb(107, 107, 107);
}

.navbar{
    background-color: black;
}

h1, h2, h3, h4, h5, p{
    color: whitesmoke;
}

footer a{
    color: whiteSmoke;
    text-decoration: underline;
}
footer a:hover{
    color: whiteSmoke;
    text-decoration: underline;
}

.card a{
    color:rgb(40, 167, 69);
    text-decoration: underline;
}

.jumbotron {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
  
}

.dataTables_scrollHead{
    position: sticky !important;
    top: 0 !important;
    z-index: 10;
}

.jumbotron:hover{ 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.card{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.border-success{
    text-decoration: none !important;
}

.border-success h1{
    color:#228d3a;
}

.border-danger h1{
    color:#db3545;
}

#itemModal p{
    margin-bottom: 0;
}

#itemModal h5{
    margin-bottom: 2em;
}